{{- $image := .Page.Resources.GetMatch (.Destination | safeURL) }}

{{- if gt $image.Width 1200 }}
{{- $image = $image.Resize "1200x Lanczos" }}
{{- end }}

{{- $jpg := $image.Process "jpeg" | fingerprint }}
{{- $webp := $image.Process "webp q80" | fingerprint }}

<picture>
  <source srcset="{{with $webp.RelPermalink }}{{.}}{{ end }}" type="image/webp">
  <img src="{{with $jpg.RelPermalink }}{{.}}{{ end }}"
      {{- with .Text }} alt="{{ . }}"{{ end -}}
      {{- with .Title }} title="{{ . }}"{{ end -}}
      decoding="async"
      loading="lazy"
      width="{{ $jpg.Width }}">
</picture>
