<p>me [AT] josehisse.dev
<br>
<a href="https://linkedin.com/in/josehisse">Linkedin</a>
<br>
<a href="https://github.com/jhisse">GitHub</a>
<br>
<a href="/sitemap.xml">Sitemap</a></p>


<script src="/assets/js/highlight.min.js"></script>
<script src="/assets/js/zooming.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
    document.addEventListener('DOMContentLoaded', function(){
        new Zooming({
            bgOpacity: 0.8, 
            scaleBase: 0.7
            }).listen('img');
        });
</script>