<p style="max-width:580px;margin-left:auto;margin-right:auto;padding: 10px 0;">Disclaimer: Este blog é pessoal e as opiniões expressas aqui são estritamente do autor, não refletindo as visões ou posições do seu empregador.
</p>

<p>
  me [AT] josehisse.dev
  <br />
  <a href="{{ .Site.Params.linkedin }}" target="_blank" rel="noreferrer noopener">Linkedin</a>
  <br />
  <a href="{{ .Site.Params.github }}" target="_blank" rel="noreferrer noopener">Github</a>
  <br />
  <a href="/sitemap.xml">Sitemap</a>
</p>
