<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="/favicon.ico" />

<title>{{ .Title }} - {{ .Site.Title }}</title>
<meta name="author" content="José Hisse" />
<meta
  name="description"
  content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary | safeHTML }}{{ end }}"
/>
<link rel="canonical" href="{{ .Permalink }}" />

{{ partial "opengraph.html" . }}

{{ partial "jsonld.html" . }}

{{ with ( resources.Get "css/light.min.css" | minify ) }}
<style type="text/css">
{{ .Content | safeCSS }}
</style>
{{ end }}
{{ with ( resources.Get "css/main.css" | minify ) }}
<style type="text/css">
{{ .Content | safeCSS }}
</style>
{{ end }}
{{ with ( resources.Get "css/monokai.css" | minify ) }}
<style type="text/css">
{{ .Content | safeCSS }}
</style>
{{ end }}

{{ if .Params.mathjax }}
<script>
  MathJax = {
    tex: {
      inlineMath: [["\\(", "\\)"]],
      displayMath: [
        ["$$", "$$"],
        ["\\[", "\\]"],
      ],
      processEscapes: true,
    },
  };
</script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"
></script>
{{ end }}
