<meta content="{{ .Site.Title }}" property="og:site_name" />
{{ if .Title }}
<meta content="{{ .Title }}" property="og:title" />
{{ else }}
<meta content="{{ .Site.Title }}" property="og:title" />
{{ end }} {{ if .Title }}
<meta content="article" property="og:type" />
{{ else }}
<meta content="website" property="og:type" />
{{ end }} {{ if .Date }}
<meta content="{{ .Summary | safeHTML }}" property="og:description" />
<meta content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
property="article:published_time"> {{ else }}
<meta content="{{ .Site.Params.description }}" property="og:description" />
{{ end }} {{ if .Permalink }}
<meta content="{{ .Permalink }}" property="og:url" />
{{ end }}
